@import "variables.scss";
// Mobile version
.catalog-list {

}
.catalog-list__item {
  border-bottom: 1px solid $grey;
  &--show-all {
    text-align: center;
  }
}
.catalog-list__container{
  width: 87.5%; // 280px
  margin-left: auto;
  margin-right: auto;
}
.catalog-list__contain {
  display: flex;
  justify-content: space-between;
  & picture {
    width: 50%;
  }
}
.catalog-list__image {
  &--show-all {
    margin-top: 26px;
    width: 30px;
    color: $lightGrey;
  }
}
.catalog-list__description {
  width: 50%; // 140px
}
.catalog-list__product {
  width: 100%;
  border-collapse: collapse;
}
.catalog-list__title {
  width: 57.1%; // 80px
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: $almostBlack;
  &--show-all {
    width: auto;
  }
}
.catalog-list__text {
  margin: 0;
  padding: 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: $darkGrey;
  &--left {
    width: 80px;
    text-align: left;
  }
  &--right {
    width: 60px;
    text-align: right;
  }
}
.catalog-list__button {
  width: 100%;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  &--show-all {
    margin-top: 20px;
    background-color: $lightGrey;
    color: $darkGrey;
  }
}
@media (min-width: 375px) {
  .catalog-list__text {
    font-size: 15px;
    line-height: 18px;
  }
  .catalog-list__title {
    font-size: 18px;
  }
}
@media (min-width: 425px) {
  .catalog-list__text {
    font-size: 16px;
    line-height: 20px;
  }
  .catalog-list__title {
    font-size: 19px;
  }
}

// Tablet version
@media (min-width: $tablet-width) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .catalog-list__item {
    position: relative;
    width: 45.7%; // 324px
    margin-top: 60px;
    padding-top: 80px;
    border-bottom: none;
    &--show-all {

    }
  }
  .catalog-list__container{
    width: 100%; // 324px
    background-color: $lightGrey;
    &--show-all {
      min-height: 420px;
      background-color: $white;
      border: 1px solid $lightGrey;
    }
  }
  .catalog-list__contain {
    flex-direction: column;
    & picture {
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }
  .catalog-list__image {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    &--small {
      top: -54px;
      left: 44px;
    }
    &--big {
      top: -90px;
      left: 27px;
    }
    &--show-all {
      position: relative;
      width: 60px;
      height: 60px;
      margin-top: 35px;
    }
  }
  .catalog-list__description {
    width: 77.1%; // 250px
    margin-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
  }
  .catalog-list__product {
    width: 100%;
  }
  .catalog-list__title {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    font-size: 20px;
    text-align: center;
    &--show-all {
      margin-top: 30px;
    }
  }
  .catalog-list__text {
    font-size: 16px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $darkGrey;
    &--left {

    }
    &--right {

    }
    &--show-all {
      width: 170px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 65px;
      border-bottom: none;
    }
  }
  .catalog-list__button {
    width: 77.1%; // 250px
    margin-left: 11.4%; // 37px
    margin-bottom: 40px;
    &--show-all {
      margin-left: 0px;
    }
  }
}

// Desktop version
@media (min-width: $desktop-width) {
  .catalog-list {

  }
  .catalog-list__item {
    width: 245px;
    &--show-all {

    }
  }
  .catalog-list__container{
    width: 245px;
  }
  .catalog-list__contain {

  }
  .catalog-list__image {

    &--small {
      left: 45px;
    }
    &--big {
      left: 30px;
    }
    &--show-all {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .catalog-list__description {
    width: 168px;
  }
  .catalog-list__product {

  }
  .catalog-list__title {

  }
  .catalog-list__text {

    &--left {

    }
    &--right {

    }
  }
  .catalog-list__button {
    width: 169px;
    &--show-all {

    }
  }
}
