@import "variables.scss";
// Mobile version
.example {
  margin-top: 40px;
  background-color: $lightGrey;
}
.example__container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
.example__title {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $almostBlack;
}
.example__text {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $darkGrey;
}
.example__result {

}
.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.example__item {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 124px;
}
.example__value {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: $almostBlack;
}
.example__description {
  margin-top: 10px;
  font-family: $arial;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  color: $darkGrey;
}
.example__cost {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: $almostBlack;
}
.example__picture {
  margin-top: 30px;
  padding-bottom: 40px;
}

// Tablet version
@media (min-width: $tablet-width) {
  .example {
    width: 768px;
    margin-top: 0;
    background-color: $white;
  }
  .example__container {
    width: 708px;
  }
  .example__title {
    padding-top: 50px;
    font-size: 60px;
  }
  .example__text {
    margin-top: 70px;
    font-size: 16px;
    line-height: 24px;
  }
  .example__result {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }
  .example__list {

  }
  .example__item {
    margin-top: 0;
    width: 192px;
  }
  .example__value {
    font-size: 30px;
    line-height: 37px;
  }
  .example__description {
    font-size: 14px;
    line-height: 14px;
  }
  .example__cost {
    width: 192px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    line-height: 30px;
    align-self: center;
    text-align: right;
  }
  .example__picture {
    padding-bottom: 0;
  }
}

// Desktop version
@media (min-width: $desktop-width) {
  .example {
    width: 1440px;
    margin-top: 30px;
    background-color: $lightGrey;
  }
  .example__container {
    width: 1300px;
    display: flex;
  }
  .example__box {
    width: 650px;
    margin-left: 40px;
  }
  .example__title {
    padding-top: 55px;
    margin-right: 190px;
  }
  .example__text {
    margin-top: 135px;
    margin-right: 190px;
  }
  .example__result {
    display: block;
    margin-top: 75px;
    margin-right: 190px;
  }
  .example__list {
    justify-content: flex-start;
  }
  .example__item {

  }
  .example__value {

  }
  .example__description {

  }
  .example__cost {
    margin-top: 60px;
    text-align: left;
    width: auto;
  }
  .example__price {
    margin-left: 70px;
  }
  .example__picture {
  }
}
