@import "variables.scss";
// Mobile version
.footer-page {
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
  background-color: $lightGrey;
}
.footer-page__container {
  width: 87.5%; // 280px
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
.footer-page__logo {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid $grey;
  text-align: center;
}
.footer-page__link {
  &:hover,
  &:focus {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.4;
  }
}
.footer-page__image {
  margin-top: 40px;
}
.footer-page__social {
  margin: 0;
  padding: 0;
}
.footer-page__html-academy {
  margin: 0;
  padding: 0;
}

// Tablet version
@media (min-width: $tablet-width) {
  .footer-page {
    max-width: 1024px;
  }
  .footer-page__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92.1%; // 708px
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-page__logo {
    width: 162px;
    padding-bottom: 0;
    border-bottom: none;
  }
  .footer-page__link {

  }
  .footer-page__image {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer-page__social {

  }
  .footer-page__html-academy {

  }
}

// Desktop version
@media (min-width: $desktop-width) {
  .footer-page {
    max-width: 1440px;
  }
  .footer-page__container {
    width: 1220px;
  }
  .footer-page__logo {

  }
  .footer-page__link {

  }
  .footer-page__image {

  }
  .footer-page__social {

  }
  .footer-page__html-academy {

  }
}
