@import "variables.scss";
// Mobile version
.form {
  margin-bottom: 30px;
}
.form__title {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 6.2%; // 20px
  margin-right: 6.2%; // 20px
  font-family: $oswald;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $almostBlack;
}
.form__annotation {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 6.2%; // 20px
  margin-right: 6.2%; // 20px
  font-family: $oswald;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $darkGrey;
  text-transform: uppercase;
}
.form__fields {
  margin-top: 40px;
}
.form__personal-data-cat-container {
  width: 87.5%; // 280px
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid $grey;
}
.form__personal-data-cat {
  display: flex;
  flex-direction: column;
}
.form__field {
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
  &:first-child {
    margin-top: 0;
  }
}
.form__label {
  margin: 0;
  padding: 0;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: $darkGrey;
  text-transform: uppercase;
  &:first-child {
    margin-top: 0;
  }
}
.form__text {
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 10px;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: $darkGrey;
  text-transform: uppercase;
  &--left {
    margin-left: 15px;
  }
  &--right {
    margin-right: 15px;
  }
}
.form__nutrition-program-container {
  width: 87.5%; // 280px
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $grey;
}
.form__nutrition-program {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form__radio {

}
.form__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 6.2%; // 20px
  margin-right: 6.2%; // 20px
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $almostBlack;
}
.form__personal-data-owner-container {
  width: 87.5%; // 280px
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.form__personal-data-owner {
  display: flex;
  flex-direction: column;
}
.form__comments-container {
  width: 87.5%; // 280px
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.form__comments {

}
.form__textarea {
  box-sizing: border-box;
  height: 150px;
  width: 100%;
  padding: 10px;
}
.form__additionally-container {
  width: 87.5%; // 280px
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.form__additionally {
  display: flex;
  flex-direction: column;
}
.form__checkbox {

}
.form__submit-container {
  width: 87.5%; // 280px
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.form__submit {

}
.form__submit-button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
.form__text-required {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: $darkGrey;
  text-align: center;
}

// Tablet version
@media (min-width: $tablet-width) {
  .form {
    margin-bottom: 70px;
  }
  .form__title {
    margin-top: 60px;
    margin-left: 3.9%; // 30px
    margin-right: 3.9%; // 30px
    font-size: 60px;
  }
  .form__annotation {
    margin-top: 50px;
    margin-left: 9.1%; // 70px
    margin-right: 9.1%; // 70px
    font-size: 20px;
    line-height: 30px;
  }
  .form__fields {
    margin-top: 70px;
  }
  .form__personal-data-cat-container {
    width: 92.1%; // 708px
    padding-bottom: 0;
    border-bottom: none;
  }
  .form__personal-data-cat {
    margin-left: 5.6%; // 40px
    margin-right: 5.6%; // 40px
  }
  .form__field {
    &--checkbox {
      width: 40.1%; // 284px
      margin-top: 0;
    }
  }
  .form__label {
    font-size: 20px;
    line-height: 20px;
    &--checkbox {
      margin: 0;
      padding: 20px 0px;
    }
  }
  .form__text {
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    &--left {

    }
    &--right {

    }
  }
  .form__nutrition-program-container {
    width: 92.1%; // 708px
    margin-top: 70px;
    border-bottom: none;
  }
  .form__nutrition-program {
    margin-left: 5.6%; // 40px
    margin-right: 5.6%; // 40px
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 28px;
    border: 1px solid $grey;
  }
  .form__radio {

  }
  .form__subtitle {
    margin-top: 80px;
    margin-left: 9.1%; // 70px
    margin-right: 9.1%; // 70px
    font-size: 36px;
    line-height: 36px;
  }
  .form__personal-data-owner-container {
    width: 92.1%; // 708px
    margin-top: 80px;
  }
  .form__personal-data-owner {
    margin-left: 5.6%; // 40px
    margin-right: 5.6%; // 40px
  }
  .form__comments-container {
    width: 92.1%; // 708px
    margin-top: 80px;
  }
  .form__comments {
    margin-right: 5.6%; // 40px
    margin-left: 5.6%; // 40px
  }
  .form__textarea {
    height: 170px;
    width: 100%;
  }
  .form__additionally-container {
    width: 92.1%; // 708px
    margin-top: 50px;
  }
  .form__additionally {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 5.6%; // 40px
    margin-left: 5.6%; // 40px
  }
  .form__checkbox {

  }
  .form__submit-container {
    width: 92.1%; // 708px
    margin-top: 40px;
  }
  .form__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5.6%; // 40px
    margin-right: 5.6%; // 40px
  }
  .form__submit-button {
    width: 40%; // 283px
    height: 50px;
    font-size: 20px;
  }
  .form__text-required {
    width: 40%; // 283px
    margin-top: 0;
    font-size: 16px;
    text-align: left;
  }
}

// // Desktop version
@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 80px;
  }
  .form__title {
    margin-top: 80px;
    margin-left: 110px;
    margin-right: 110px;
  }
  .form__annotation {
    margin-top: 60px;
    margin-left: 110px;
    margin-right: 110px;
  }
  .form__fields {

  }
  .form__program-container {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
  .form__personal-data-cat-container {
    width: 570px;
    margin-left: 0;
    margin-right: 0;
  }
  .form__personal-data-cat {
    margin-left: 0;
    margin-right: 0;
  }
  .form__field {
    &--checkbox {
      width: 245px;
    }
    &--data-owner {
      width: 570px;
      margin-top: 0;
    }
  }
  .form__label {

  }
  .form__text {

    &--left {

    }
    &--right {

    }
  }
  .form__nutrition-program-container {
    width: 570px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .form__nutrition-program {
    margin-left: 0;
    margin-right: 0;
  }
  .form__radio {

  }
  .form__subtitle {
    margin-left: 110px;
    margin-right: 110px;
  }
  .form__personal-data-owner-container {
    width: 1220px;
  }
  .form__personal-data-owner {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
  .form__comments-container {
    width: 1220px;
  }
  .form__comments {
    margin-left: 0;
    margin-right: 0;
  }
  .form__textarea {

  }
  .form__additionally-container {
    width: 1220px;
  }
  .form__additionally {
    margin-left: 0;
    margin-right: 0;
  }
  .form__checkbox {

  }
  .form__submit-container {
    width: 1220px;
  }
  .form__submit {
    margin-left: 0;
    margin-right: 0;
  }
  .form__submit-button {
    width: 570px;
  }
  .form__text-required {
    width: 570px;
  }
}
