@import "variables.scss";
// Mobile version
.form-page {
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
}

// Tablet version
@media (min-width: $tablet-width) {
  .form-page {
    max-width: 1024px;
  }
}

// Desktop version
@media (min-width: $desktop-width) {
  .form-page {
    max-width: 1440px;
  }
}
