@import "variables.scss";
// Mobile version
.header-nav {

}
// JS классы
.header-nav--closed {
  display: none;
}
.header-nav--opened {
  display: block;
}

.header-nav--nojs {
  display: block;
}
.header-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-nav__item {
  padding-top: 6.2%;
  padding-bottom: 6.2%;
  font-family: $oswald;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid $grey;
  &--active {

  }
}
.header-nav__link-container {
  text-align: center;
  margin: 0;
}
.header-nav__link {
  color: $almostBlack;
  text-decoration: none;
  &:hover,
  &:focus {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

// Tablet version
@media (min-width: $tablet-width) {
  .header-nav {
    display: block;
    width: 57%;
  }
  .header-nav__list {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }
  .header-nav__item {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 25px;
    border-bottom: none;
    &--active {
      border-bottom: 2px solid $green;
    }
  }
  .header-nav__link-container {
    margin: 0;
    margin-bottom: 10px;
  }
  .header-nav__link {

  }
}

// Desktop version
@media (min-width: $desktop-width) {
  .header-nav {
    width: 480px;
  }
  .header-nav__list {
    margin-top: 15px;
    justify-content: space-between;
  }
  .header-nav__item {
    font-size: 20px;
    &--active {

    }
    &--active-index-desktop {
      border-bottom: 2px solid $white;
    }
  }
  .header-nav__link-container {

  }
  .header-nav__link {
    &--index-desktop {
      color: $white;
    }
  }
}
