@import "variables.scss";
// Mobile version
.offer {
  margin-top: 22px;
}
.offer__container {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}
.offer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.offer__list-item {
  position: relative;
  background-color: $lightGrey;
  padding-bottom: 20px;
  &:last-child {
    margin-top: 20px;
  }
}
.offer__list-title {
  margin: 0;
  padding: 0;
  margin-left: 34%;
  margin-right: 7.1%;
  padding-top: 30px;
  font-family: $oswald;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
  color: $almostBlack;
  &--slim {

  }
  &--pro {

  }
}
.offer__list-text {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-left: 7.1%;
  margin-right: 7.1%;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $darkGrey;
  &--pro {

  }
}
.offer__list-link-container {
  position: relative;
  width: auto;
  margin-top: 20px;
  margin-left: 7.1%;
  margin-right: 7.1%;
  border-top: 1px solid $grey;
}
.offer__list-link {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 11px;
    background-image: url('../img/vector/offer__arrow-m.svg');
    background-repeat: no-repeat;
  }
  &--slim::after {
    top: 23px;
    left: 95px;
  }
  &--pro::after {
    top: 23px;
    left: 92px;
  }
  &:hover,
  &:focus {
    &::after {
      background-image: url('../img/vector/offer__longArrow-m.svg');
      width: 34px;
    }
  }
  &:active {
    opacity: 0.3;
    &::after {
      background-image: url('../img/vector/offer__longArrow-m.svg');
      width: 34px;
      opacity: 0.8;
    }
  }
}
.offer__list-image-container {
  position: absolute;
  top: 25px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $green;
}
.offer__list-image {
  position: absolute;
  &--slim {
    left: 8px;
  }
  &--pro {
    top: -2px;
    left: -9px;
  }
}
// Tablet version
@media (min-width: $tablet-width) {
  .offer {

  }
  .offer__container {
    width: 92.1%;
  }
  .offer__list {

  }
  .offer__list-item {
    padding-bottom: 60px;
    &:last-child {

    }
  }
  .offer__list-title {
    padding-top: 60px;
    margin-left: 7.7%;
    font-size: 36px;
    line-height: 36px;
    &--slim {
      margin-right: 37.4%; // 265px
    }
    &--pro {
      margin-right: 44%; // 312px
    }
  }
  .offer__list-text {
    margin-left: 7.7%;;
    font-size: 16px;
    line-height: 24px;
    &--slim {
      margin-right: 37.4%; // 265px
    }
    &--pro {
      margin-right: 44%; // 312px
    }
  }
  .offer__list-link-container {
    margin: 0;
    margin-left: 7.7%;
    margin-right: 44%;
    margin-top: 60px;
    border: none;
  }
  .offer__list-link {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    &--slim::after {
      top: 6px;
      left: 130px;
    }
    &--pro::after {
      top: 6px;
      left: 122px;
    }
  }
  .offer__list-image-container {
    position: absolute;
    top: 75px;
    left: 65%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $green;
  }
  .offer__list-image {
    position: absolute;
    &--slim {
      width: 141px;
      height: 195px;
      left: 30px;
      top: -10px;
    }
    &--pro {
      width: 268px;
      height: 107px;
      top: 50px;
      left: -35px;
    }
  }
}

// Desktop version
@media (min-width: $desktop-width) {
  .offer {
    width: 1440px;
    margin-top: 80px;
  }
  .offer__container {
    width: 1220px;
  }
  .offer__list {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
  .offer__list-item {
    width: 570px;

    &:last-child {
      margin-top: 0;
    }
  }
  .offer__list-title {
    margin-left: 217px;
    margin-right: 50px;
    padding-top: 75px;
    &--slim {

    }
    &--pro {

    }
  }
  .offer__list-text {
    margin-top: 80px;
    margin-right: 50px;
  }
  .offer__list-link-container {
    margin-top: 40px;
    margin-right: 50px;
  }
  .offer__list-link {

    &--slim::after {

    }
    &--pro::after {

    }
  }
  .offer__list-image-container {
    position: absolute;
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $green;
  }
  .offer__list-image {
    position: absolute;
    &--slim {
      width: 71px;
      height: 97px;
      left: 15px;
      top: -5px;
    }
    &--pro {
      width: 134px;
      height: 56px;
      top: 25px;
      left: -20px;
    }
  }
}
