@import "variables.scss";
// Mobile version
.picture {
  position: relative;
}
.picture__before {
  position: absolute;
}
.picture__after {

}
.picture__slider {
  margin-top: 40px;
  text-align: center;
}
.picture__slider-status {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  color: $almostBlack;
  &--before {
    margin-right: 20px;
  }
  &--after {
    margin-left: 20px;
  }
}
.picture__bar {
  width: 84px;
}

// Tablet version
@media (min-width: $tablet-width) {
  .picture {
    margin-top: 250px;
    padding-bottom: 70px;
    background-color: $lightGrey;
  }
  .picture__before {
    margin-top: -160px;
    width: 677px;
    height: 499px;
  }
  .picture__after {
    margin-top: -160px;
    width: 545px;
    height: 517px;
  }
  .picture__slider {
    margin-top: 30px;
    // padding-bottom: 70px;
  }
  .picture__slider-status {
    font-size: 20px;
    border-bottom: 1px dashed $darkGrey;
    &--before {

    }
    &--after {

    }
  }
  .picture__bar {
    width: 427px;
  }
}
// Desktop version
@media (min-width: $desktop-width) {
  .picture {
    width: 650px;
    margin-top: 0;
  }
  .picture__before {
    margin-top: 0;
  }
  .picture__after {
    margin-top: 0;
  }
  .picture__slider {

  }
  .picture__slider-status {

    &--before {

    }
    &--after {

    }
  }
  .picture__bar {

  }
}
