@import "variables.scss";
.product {

}
.product__container {

}
.product__container-bg {
  height: 304px;
  background-image: url('../img/rastr/product__bg-m.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../img/rastr/product__bg-m@2x.jpg');
    background-size: cover;
  }
}
.product__container-image {
  width: 87.5%;
  margin-top: -170px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.product__title {
  margin: 0;
  padding: 0;
  margin-left: 6.2%;
  margin-right: 6.2%;
  padding-top: 30px;
  font-size: 36px;
  line-height: 36px;
  font-family: $oswald;
  font-weight: normal;
  text-align: center;
  color: $white;
}
.product__tagline {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 14px;
  font-family: $oswald;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}
.product__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product__link-container {

}
.product__link {
  width: 100%;
}

// Tablet version
@media (min-width: $tablet-width) {
  .product {

  }
  .product__container {
    margin-left: auto;
    margin-right: auto;
    width: 92.1%;
    min-height: 800px;
  }
  .product__container-bg {
    width: 100%;
    height: auto;
    background-image: none;
  }
  .product__container-image {
    position: relative;
    width: 100%;
    min-height: 610px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
  }
  .product__title {
    padding-top: 0;
    margin-left: 12.7%;
    margin-right: 28%;
    margin-top: 60px;
    font-size: 60px;
    line-height: 60px;
    color: $almostBlack;
    text-align: left;
  }
  .product__tagline {
    margin-top: 45px;
    margin-left: 12.7%;
    margin-right: 28%;
    font-size: 20px;
    line-height: 20px;
    color: $almostBlack;
    text-align: left;
  }
  .product__image {
    margin: 0;
    position: absolute;
    z-index: -1;
    background-size: contain;
  }
  .product__link-container {
    margin-top: 25px;
    margin-left: 12.7%;
    margin-right: 28%;;
  }
  .product__link {
    width: 245px;
    height: 53px;
    font-size: 20px;
    line-height: 20px;
  }
}

// Desktop version
@media (min-width: $desktop-width) {
  .product {
    width: 1440px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    margin-top: -110px;
    border: 1px solid transparent;
    &--index-desktop {
      background-image: url('../img/rastr/product__bg-d.jpg');
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url('../img/rastr/product__bg-d@2x.jpg');
        background-size: 720px auto;
      }
    }
  }
  .product__container {
    min-height: 0;
    width: 1220px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
  }
  .product__container-bg {

  }
  .product__container-image {
    min-height: auto;
  }
  .product__title {
    margin-top: 110px;
    margin-left: 80px;
    margin-right: 650px;
    color: $almostBlack;
  }
  .product__tagline {
    margin-left: 80px;
    margin-right: 650px;
    color: $almostBlack;
  }
  .product__image {
    top: -270px;
    left: 450px;
    z-index: 0;
  }
  .product__link-container {
    margin-bottom: 190px;
    margin-left: 80px;
    margin-right: 650px;
  }
  .product__link {

  }
}
