@import "variables.scss";
// Mobile version
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $grey;
}
.social-list__item {
  margin-left: 17%; // 47px
  &:first-child {
    margin-left: 0px;
  }
}
.social-list__link {

}
.social-list__image {
  margin-top: 25px;
  margin-bottom: 25px;
}

// Tablet version
@media (min-width: $tablet-width) {
  .social-list {
    width: 22.8%; // 162px
    border-bottom: none;
  }
  .social-list__item {

  }
  .social-list__link {

  }
  .social-list__image {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    &--vk {
      width: 30px;
      height: 16px;
    }
    &--inst {
      width: 23px;
      height: 23px;
    }
    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

// Desktop version
@media (min-width: $desktop-width) {
  .social-list {

  }
  .social-list__item {
    &:nth-child(2) {

    }
  }
  .social-list__link {

  }
  .social-list__image {

  }
}
