@import "variables.scss";
// Mobile version
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $grey;
}
.social-list__item {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 17%; // 47px
  &:first-child {
    margin-left: 0px;
  }
}
.social-list__link {

  &:hover .social-list__image,
  &:focus .social-list__image {
    fill: $green;
  }
  &:active .social-list__image {
    opacity: 0.4;
  }
}
.social-list__image {

    &--vk {
      width: 22px;
      height: 12px;
    }
    &--inst {
      width: 16px;
      height: 16px;
    }
    &--fb {
      width: 10px;
      height: 19px;
    }

}

// Tablet version
@media (min-width: $tablet-width) {
  .social-list {
    width: 22.8%; // 162px
    border-bottom: none;
  }
  .social-list__item {

  }
  .social-list__link {

  }
  .social-list__image {

    &--vk {
      width: 31px;
      height: 16px;
    }
    &--inst {
      width: 23px;
      height: 23px;
    }
    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

// Desktop version
@media (min-width: $desktop-width) {
  .social-list {

  }
  .social-list__item {
    &:nth-child(2) {

    }
  }
  .social-list__link {

  }
  .social-list__image {

    &--vk {

    }
    &--inst {

    }
    &--fb {

    }
  }
}
