@import "variables.scss";
// Mobile version
.sub-catalog {

}
.sub-catalog__title {
  margin: 0;
  padding: 0;
  padding-left: 6.25%; // 20px
  padding-right: 6.25%; // 20px
  padding-top: 30px;
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $almostBlack;
}
.sub-catalog__container {
  width: 87.5%; // 280px
  margin-left: auto;
  margin-right: auto;
}
.sub-catalog__list {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  list-style: none;
}
.sub-catalog__offer-container {
  width: 100%; // 280px
  height: 290px;
  text-align: center;
  background-image: url("../img/rastr/sub-catalog__bg-m.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.sub-catalog__offer-image {
  margin-top: 65px;
}
.sub-catalog__offer-text {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: $white;
}
@media (min-width: 375px) {
  .sub-catalog__title {
    font-size: 25px;
    line-height: 25px;
  }
}
@media (min-width: 425px) {
  .sub-catalog__title {
    font-size: 26px;
    font-size: 26px;
  }
}
// Tablet version
@media (min-width: $tablet-width) {
  .sub-catalog {

  }
  .sub-catalog__title {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 67px;
    font-size: 36px;
    line-height: 36px;
  }
  .sub-catalog__container {
    width: 92.1%; // 708px
  }
  .sub-catalog__list {
    margin-top: 0;
  }
  .sub-catalog__offer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; // 708px
    height: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-image: url("../img/rastr/sub-catalog__bg-t.jpg");
  }
  .sub-catalog__offer-image {
    margin-top: 0;
  }
  .sub-catalog__offer-text {
    margin-top: 0;
    text-align: left;
  }
}

// Desktop version
@media (min-width: $desktop-width) {
  .sub-catalog {
    width: 1440px;
  }
  .sub-catalog__title {
    padding-left: 110px;
  }
  .sub-catalog__container {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin-bottom: 85px;
  }
  .sub-catalog__list {

  }
  .sub-catalog__offer-container {
    flex-direction: column;
    width: 245px;
    height: 290px;
    margin: 0;
    padding: 0;
    background-image: url("../img/rastr/sub-catalog__bg-d.jpg");
  }
  .sub-catalog__offer-image {

  }
  .sub-catalog__offer-text {
    text-align: center;
  }
}
