@import "variables.scss";
// Mobile version
.sub-catalog-list {
  border-top: 1px solid $grey;
}
.sub-catalog-list__item {
  border-bottom: 1px solid $grey;
}
.sub-catalog-list__description {

}
.sub-catalog-list__product {
  width: 100%;
  border-collapse: collapse;
}
.sub-catalog-list__title{
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: $almostBlack;
  text-transform: uppercase;
}
.sub-catalog-list__text {

  margin: 0;
  padding: 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: $darkGrey;
  &--left {
    width: 50%; // 140px
    text-align: left;
  }
  &--right {
    width: 50%; // 140px
    text-align: right;
  }
}
.sub-catalog-list__button{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 375px) {
  .sub-catalog-list__text {
    font-size: 15px;
    line-height: 18px;
  }
  .sub-catalog-list__title {
    font-size: 18px;
  }
}
@media (min-width: 425px) {
  .sub-catalog-list__text {
    font-size: 16px;
    line-height: 20px;
  }
  .sub-catalog-list__title {
    font-size: 19px;
  }
}

// Tablet version
@media (min-width: $tablet-width) {
  .sub-catalog-list {

  }
  .sub-catalog-list__item {
    padding-left: 38px;
    padding-right: 38px;
  }
  .sub-catalog-list__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sub-catalog-list__product {
    width: 41.8%; // 296px;
  }
  .sub-catalog-list__title{
    padding-top: 25px;
    padding-bottom: 26px;
    font-size: 20px;
    line-height: 20px;
  }
  .sub-catalog-list__text {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    &--left {
      width: 66%;
    }
    &--right {
      width: 34%;
    }
  }
  .sub-catalog-list__button {
    margin-top: 0;
    width: 100%;
  }
}

// Desktop version
@media (min-width: $desktop-width) {
  .sub-catalog-list {
    width: 895px;
  }
  .sub-catalog-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .sub-catalog-list__description {
    display: flex;
    justify-content: space-between;
  }
  .sub-catalog-list__product {
    width: 325px;
  }
  .sub-catalog-list__title{
    width: 325px;
  }
  .sub-catalog-list__text {
    margin: 0;
    padding: 0;
    text-align: left;
    &--left {
      width: 245px;
    }
    &--right {
      width: 80px;
    }
  }
  .sub-catalog__offer-container {
    width: 245px;
  }
  .sub-catalog-list__button{
    margin: 0;
    outline: 0;
    width: 245px;
  }
}
