@font-face {
  font-weight: lighter;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/Oswald-Light.ttf") format("ttf");
}
@font-face {
  font-weight: normal;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/Oswald-Regular.ttf") format("ttf");
}
@font-face {
  font-weight: medium;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/Oswald-Medium.ttf") format("ttf");
}
@font-face {
  font-weight: bold;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/Oswald-Bold.ttf") format("ttf");
}
body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', 'Arial', sans-serif;
}
@media (min-width: $tablet-width) {
  body {
    min-width: 768px;
  }
}
@media (min-width: $desktop-width) {
  body {
    min-width: 1440px;
  }
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.button {
  width: 280px;
  height: 40px;
  border: none;
  font-family: $oswald;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  &--green {
    color: $white;
    background-color: $green;
    &:hover,
    &:focus {
      background-color: $greenHoverButton;
    }
    &:active {
      color: $greenActiveButton;
    }
  }
  &--grey {
    color: $darkGrey;
    background-color: $lightGrey;
    &:hover,
    &:focus {
      background-color: $greyHoverButton;
    }
    &:active {
      color: $greyActiveButton;
    }
  }
}
textarea[placeholder] {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: lighter;
  color: $darkGrey;
  text-transform: uppercase;
}
input[type="text"],
input[type="email"],
textarea {
  &:hover {
    outline: 2px solid $mediumGrey;
  }
  &:focus {
    outline: 2px solid $mediumBlack;
  }
}
input[type="email"]:focus .form__icon-mail{
  fill: $green;
}
