// Цвета
$white: #ffffff;
$grey: #e6e6e6;
$lightGrey: #f2f2f2;
$mediumGrey: #cdcdcd;
$darkGrey: #808080;
$almostBlack: #111111;
$green: #68b738;
$greenHoverButton: #5eaa2f;
$greenActiveButton: #99c684;
$greyHoverButton: #ebebeb;
$greyActiveButton: #c3c3c3;
$mediumBlack: #444444;
// Шрифты
$arial: 'Arial', sans-serif;
$oswald: 'Oswald', sans-serif;
// Ширина вьюпорта
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
// Ретинизация
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
